<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Vegard Løkken">
        <meta name="description" content="{{ page.excerpt | strip_html | xml_escape }}">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/main.css">
</head>
<body>
{% include analyticstracking.html %}
